@import "./styles/calendar.css";
@import "./styles/notes.css";
@import "./styles/UI.css";

@font-face {
    font-family: 'MyCustomEnglishFont';
    src: url('fonts/Playwrite/PlaywriteGBJ-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'MyCustomPersianFont';
    src: url('fonts/Harmattan/Harmattan-Regular.ttf') format('truetype');
}

body {
    background-color: #d8dbe2;
    background-image:
        radial-gradient(circle at 50% 0%, #ffffff66 0%, transparent 70%),
        repeating-linear-gradient(45deg, transparent, transparent 2px, #ffffff11 2px, #ffffff11 4px);
    font-family: 'MyCustomPersianFont', 'MyCustomEnglishFont', Tahoma, sans-serif;
    margin: 0;
    padding: 30px;
    padding-top: 45px;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    transition: padding-right 0.5s ease;
}

body.is-maximized {
    padding-right: 350px !important;
}

body.is-maximized.calendar-closed {
    padding-right: 30px !important;
}

body.is-maximized-window .Calendar {
    display: block;
}

body.is-maximized-window {
    padding-right: 350px !important;
}

body.is-maximized-window.calendar-closed {
    padding-right: 30px !important;
    padding-top: 45px !important;
}