/* ==========================================
   5. CALENDAR & RESPONSIVE LOGIC
   ========================================== */
.Calendar {
    direction: rtl; position: fixed;
    top: 30px; right: 30px; z-index: 900;
    background-color: #ffffff; width: 320px;
    border-radius: 15px; box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: none; /* مخفی در موبایل */
}

/* تقویم در حالت مکسیمایز */
body.is-maximized { padding-right: 350px !important; }
body.is-maximized.Calendar-closed { padding-right: 30px !important; }

@media screen and (min-width: 768px) {
    .Calendar { display: block; }
}
